<div class="row">
	<div class="twelve columns">
		<div class="four columns survey panel-space">
			<p>
			</p>
			<p>
				Have a different idea?<br />
				<strong><%= link_to 'Suggest a new event.', new_event_path %></strong>
			</p>
		</div>
		<div class="one column">
		</div>
		<div class="six columns offset-by-one survey panel-space">
			<p class="notice">
				<strong><%= notice %></strong>
			</p>
			<p>
				<strong>INSTRUCTIONS</strong>: Rate each event 1 to 5 (5 being the best).<br />
				<em>Note: You can only vote once for each event.</em>
			</p>
		</div>

	<!-- </div>
</div>


<div class="row">
	<div class="twelve columns survey"> -->

		<% @events.each do |event| %>
		
				<div class="panel four columns event-title">
					<%= link_to event.name, event_url(event.id) %>
				</div>
				<div class="one column">
				</div>
				<div class="panel six columns offset-by-one">
					<% if session[:user_id].present? %>

						<% if @user.votes.nil? %>
							<%= render 'vote_form', :event => event %>
						<% elsif @user.votes.find_by_event_id(event.id).nil? %>
							<%= render 'vote_form', :event => event %>
						<% else %>
						  Average Rating: <%= average_rating(event) %> -- <%= link_to 'Read Comments', votes_url %>
						<% end %>
						
					<% else %>
						<%= link_to 'Login to vote', new_session_url %>
					<% end %>
				</div>

		<% end %>

	</div>
</div>


<div class="row"
	<div class="twelve columns">
		<div class="five columns survey">
			<% if session[:user_id].present? %>
				<h3><strong><%= link_to 'See the results', votes_url %></strong></h3>
			<% else %>
				<h3><strong><%= link_to 'Login to see the results', new_session_url %></strong></h3>
			<% end %>
		</div>
	</div>
</div>
