<div class="row">
	<div class="twelve columns">
		<div class="seven columns">
			<div class="panel survey">



<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event.name %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Website:</b>
  <%= @event.website %>
</p>

<p>
  <b>Location:</b>
  <%= @event.address %>
</p>


<%= link_to 'Vote on Events', events_path %>


</div>
</div>
</div>
</div>