<div class="row">
	<div class="twelve columns">
		<div class="panel survey">
			<h2>All Results</h2>
			<hr />

			<p>
				<% @events.each do |event| %>

					<ul>				
						<div class="five columns">
							<h5><strong><%= link_to event.name, event_url(event.id) %></strong></h5>
							<p>
								Total # Votes: <b><%= event.votes.count %></b> | Average Rating: <b><%= average_rating(event) %></b>
							</p>
						</div>
						<div class="six columns">		
							<p>
								<strong>Comments:</strong>
							</p>
							<% event.votes.each do |vote| %>
								<% if vote.comment.blank? %>
								<% else %>
									<li><em>"<%= vote.comment %>"</em></li>
								<% end %>
							<% end %>
						</div>
						<hr/>
					</ul>
				
				<% end %>
			</p>

		</div>
	</div>
</div>

<div class="row"
	<div class="twelve columns">
		<div class="five columns survey">
				<h3><strong><%= link_to 'Back to Voting', events_url %></strong></h3>
		</div>
	</div>
</div>